
*{
    text-decoration: none;
}
.nav{
    font-family: Cambria,Cochin, Georgia, Times, 'Times New Roman', serif;
    background:linear-gradient(#fff,#64BFED);
     padding: 10px;
         
    }
.navdiv{
    display:inline-flexbox;
    align-items: center;
    justify-content: center;
    /* color:white; */
}
li {
    list-style-type: none;
    display: inline-block;
    transition: all 0.5s ease 0.5s;
    
}
li a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    
}
nav li {
   
    transition: transform 0.3s ease-in-out;
}
nav li:hover {
    transform: scaleY(2.0);
    
}   
li a:hover{
    color:white;
}